img.recipe-img {
  max-width: 250px;
}

tr:hover {
  background-color: pink;
  cursor: pointer;
}

thead {
  background-color: palevioletred;
}

.card-img-top {
  height: 180px;
  object-fit: cover;
}

.card {
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
