<div *ngIf="recipe" class="container py-4">
  <div class="row">
    <div class="col-md-4 text-center">
      <h2>{{ recipe.nombre }}</h2>
      <img class="img-fluid mb-3" [src]="recipe.imagen" alt="{{ recipe.nombre }}" />
      <div>
        <a class="btn btn-secondary" routerLink="/recipe">Regresar al listado</a>
      </div>
    </div>

    <div class="col-md-8">
      <div class="d-flex gap-3 mb-3 flex-wrap">
        <div class="badge bg-light text-dark p-3">Porciones: {{ recipe.porciones }}</div>
        <div class="badge bg-light text-dark p-3">Tiempo: {{ recipe.tiempo_minutos }} min</div>
        <div class="badge bg-light text-dark p-3">Dificultad: {{ recipe.dificultad }}</div>
        <div class="badge bg-light text-dark p-3">Tipo: {{ recipe.tipo }}</div>
      </div>

      <h4>Ingredientes</h4>
      <app-ingredient-list [ingredients]="recipe.ingredientes"></app-ingredient-list>

      <h4 class="mt-3">Pasos</h4>
      <ol>
        <li *ngFor="let step of recipe.pasos">{{ step }}</li>
      </ol>
    </div>
  </div>
</div>
<div *ngIf="!recipe" class="container py-4">
  <p>Cargando receta...</p>
</div>
